{% include "./header.html" %}

{% block content %}
    <div class="container py-3">
        <nav aria-label="breadcrumb py-2">
            <ol class="breadcrumb ">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Galería</li>
            </ol>
        </nav>
        <h2 class="my-4 text-center">Galería de imágenes</h2>
        <div class="row">
            {% for m in images %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-2">
                <div class="card p-2 text-center mx-auto bg-light align-items-center card-size">
                    <a href="/images/{{ m.id }}" class="card-link align-items-center">
                        <img src="{{ m.source.url }}" class="img-thumbnail" alt="{{ m.name}}" >
                    </a>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-center bg-light">
                        <a href="/images/{{ m.id }}" class="text-dark text-decoration-none">
                            <p style="margin:0;"><strong>{{ m.name }}</strong></p>
                            <p style="margin:0;">{{ m.orientation }} - {{ m.dimensions }}</p>
                        </a>
                    </li>
                </ul>
            </div>
            {% empty %}
            <p>No hay imágenes almacenadas.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}