{% include './header.html' %}

{% block content %}
    <div class="container py-3">
        <nav aria-label="breadcrumb py-2">
            <ol class="breadcrumb ">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="/galery">Galería</a></li>
              <li class="breadcrumb-item active" aria-current="page">Visualizador</li>
            </ol>
        </nav>
        <h2 class="my-4 text-center">Visualizador de imágenes en formato A4</h2>
        <div class="row d-flex justify-content-center">
            <div class="{{image.orientation}}">
                <img src="{{image.source.url}}" alt="{{image.name}}"/>
            </div>
        </div>
        <br>
    </div>
{% endblock %}