{% include "./header.html" %}

{% block content %} 

{% load crispy_forms_tags %}         

<!--Register--> 
<div class="container py-5" style="max-width: 700px;">
    <div class="card bg-light">
        <div class="card-body">  
            <h1>Registro</h1>
            <form method="POST">
                {% csrf_token %}
                {{ register_form|crispy }}                    
                <button class="btn btn-primary full-width" type="submit">Register</button>
            </form>
            <p class="text-center mt-3">If you already have an account, <a href="/accounts/login">login</a> instead.</p>
        </div>
    </div>
</div>

{% endblock %}