{% include "./header.html" %}

{% block content %}  

{% load crispy_forms_tags %}
   
        <div class="container py-3">

          <!--Simple Form-->
          <h2 class="my-4 text-center">Carga una imagen</h2>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.name|as_crispy_field}}
            {{form.source|as_crispy_field}}
            <button class="btn btn-success" type="submit">Cargar</button>
          </form>
          {% include 'bootstrap4/layout/help_text_and_errors.html' %}
        </div>
    
{% endblock %}
